/***********************************************/
/* Layout Divs                                 */
/***********************************************/

#content{
	float: left;
            width: 100%;
            margin-top: 1%;
            margin-bottom: 2%;
            padding-left: 2%;
            padding-right: 2%;
            /*margin-right: 20px;*/
}

